*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
}

#post{
    position: relative;
    height: 400px;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    overflow: hidden;
}

.heart{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-size: 75px;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0;
    transition: all ease 0.4s;
}

#post img{
    height: 90%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: top;
    margin: 0;
    cursor: pointer;
}

#like{
    background: none;
    border: none;
    font-size: 25px;
    margin: 10px 0;
    cursor: pointer;
}