* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  width: 100%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  background-color: lightgray;
  anchor-name: --some-anchor;
}

.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 220px;
  width: 220px;
  color: black;
  border-radius: 20px;
  z-index: 1;
}

.btn:hover{
  anchor-name: --some-anchor;
  color: whitesmoke;
}

.anchor{
  position: absolute;
  top: anchor(top);
  left: anchor(left);
  right: anchor(right);
  bottom: anchor(bottom);
  pointer-events: none;
  position-anchor: --some-anchor;
  transition: all 0.3s ease;
  background-color: grey;
}

.btn:hover ~ .anchor{
  border-radius: 20px;
}