* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  cursor: none;
}

:root{
  --x : 200px;
  --y: 200px;
}

.box{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  background: radial-gradient(200px at var(--x) var(--y), white, black);
}

.card{
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: 2px solid black;
  border-radius: 20px;
}