*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 120px;
    width: 120px;
    background-color: aqua;
}
#box2{
    position: absolute ;
    height: 200px;
    width: 200px;
    background-color:blue;
}
#box3{
    height: 250px;
    width: 250px;
    background-color:blueviolet;
}

#mydev{
    position: relative;
    height: 500px;
    width: 500px;
    background-color:brown ;
}

#newdev{
    position: absolute;
    left: 70%;
    height: 100px;
    width: 100px;
    background-color: yellow;
}

#forex{
    width: 100%;
    height: 1200px;
    background-color: black;
}

#forother{
    position: sticky;
    top: 0%;
    height: 300px;
    width: 300px;
    background-color: aliceblue;
}

#otherex{
    height: 800px;
    width: 100%;
    background-color: pink;
}

#lastone{
    position: fixed;
    top: 40px;
    height: 50px;
    width: 20px;
    background-color: red;
}